 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 530px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 11px 38px;
}

.u-section-1 .u-text-1 {
  margin: 0 99px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 31px 99px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 495px;
  height: 274px;
  margin: 49px auto 0 -86px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 338px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 313px;
    height: 173px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-1 .u-image-1 {
    width: 240px;
    height: 133px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 583px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 42px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    height: 214px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  min-height: 588px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 823px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 8px 80px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 80px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 823px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 457px;
  height: 412px;
  margin: 0 auto 0 -41px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 484px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 679px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 679px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    width: 329px;
    height: 297px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 371px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 520px;
  }

  .u-section-2 .u-image-1 {
    width: 252px;
    height: 227px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 278px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1170px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 175px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1064px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 9px;
    margin-left: -9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 737px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 85px;
  }
} .u-section-3 {
  min-height: 318px;
}

.u-section-3 .u-sheet-1 {
  min-height: 1238px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1112px;
}

.u-section-3 .u-container-layout-1 {
  padding: 27px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 0 0 auto;
}

.u-section-3 .u-image-1 {
  width: 1037px;
  height: 1001px;
  margin: 0 auto 0 44px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 123px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1190px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-3 .u-image-1 {
    width: 960px;
    height: 961px;
    margin-top: 17px;
    margin-left: -20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 49px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 811px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 623px;
    height: 627px;
    margin: -4px 36px -16px auto;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 544px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 340px;
    height: 343px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 836px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 716px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 65px 43px 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 53px 43px 0 56px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 716px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 397px;
  height: 690px;
  margin: 0 auto 0 -17px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 590px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    width: 313px;
    height: 545px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 730px;
  }

  .u-section-4 .u-image-1 {
    width: 240px;
    height: 418px;
    margin-top: 203px;
    margin-right: -19px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1643px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1034px;
  }

  .u-section-4 .u-image-1 {
    width: 267px;
  }
} .u-section-5 {
  min-height: 667px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 667px;
  background-image: url("images/what-manifestations-hair-renewal-abbasid-era-8-features-development-during-period.jpg");
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 667px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 41px;
}

.u-section-5 .u-text-1 {
  margin: 15px 11px 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 11px 19px 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 493px;
  }

  .u-section-5 .u-image-1 {
    background-position: 50% 50%;
    min-height: 550px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 550px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 354px;
  }

  .u-section-5 .u-image-1 {
    min-height: 421px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 681px;
  }

  .u-section-5 .u-image-1 {
    min-height: 632px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 429px;
  }

  .u-section-5 .u-image-1 {
    min-height: 398px;
  }
}