.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-video-1 {
  height: 664px;
  width: 1169px;
  margin: 21px -29px 55px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-video-1 {
    height: 534px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .embed-responsive-1 {
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-video-1 {
    height: 404px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-1 .u-video-1 {
    height: 310px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-1 .u-video-1 {
    height: 200px;
    width: 340px;
  }

  .u-section-1 .embed-responsive-1 {
    left: -81%;
    top: 0;
  }
}